<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/login.css"> -->
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <h2>Login Form</h2>
            <p class="subtitle">Create your account</p>
            <form>
                <!-- <label for="name">Name:</label> -->
                <input class="input" type="text" id="name" name="name" required placeholder="Login"><br><br>

                <!-- <label for="email">Email:</label> -->
                <input class="input" type="email" id="email" name="email" required placeholder="Password"><br><br>

                

                
            </form>

            <div class="toggler">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>  Remember Me <br><br>

            <button class="button">+ Login</button>
            </div>
            <br>
            <p><a style="text-decoration:none" href="./signup.html">Forgot password?</a></p>
            <p>Don't have an account? <a style="text-decoration:none" routerLink="/signup">Sign up!</a></p>
        </div>
    </div>
</body>

</html>